.App {
	text-align: center;
}

.App-error {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-error {
		animation: App-error-spin infinite 5s ease-in-out;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@keyframes App-error-spin {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.dark-mode {
	color: white !important;
}

.container-fluid h1 {
	text-shadow: 1px 1px white, 2px 2px grey;
}

.dark-mode h1 {
	text-shadow: 1px 1px #25282c, 2px 2px rgb(150, 150, 150) !important;
}

.badge {
	position: static !important;
}